@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

/*footer {
    margin: 50px 0;
}*/

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.navbar {
    background-color:#1B1C16;
}

.navbar-brand
{
     padding-top:10px !important;
}



body {
  font-family:Ubuntu, Helvetica, Arial, sans-serif;
}

.partners {
    height:100px;
    width:auto;
}

img.parceiros {
	border: 0px;
}

 #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
}

#push {
        height: 60px;
}

footer {
    background-color: #1B1C16;
    color: #FFFFFF;
    height:60px;
}

nav {
    font-weight:bold;
    font-size: 15px;
}

p {
    text-align: justify;
}

img.parceiros:hover {
    opacity:0.5;
}
