---
layout: default
title: Publicações
---

<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="page-header">Publicações</h1>
      {% for post in site.posts %}
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <!-- Author -->
        <p class="lead">
        {% include date.html %} • {% if post.author %}{{ post.author }}{% endif %}{% if post.meta %}{{ post.meta }}{% endif %}</p>
        {{ post.excerpt }}
        <hr>
      {% endfor %}
    </div>
    <!-- Facebook Column -->
    <div class="col-md-4 text-center">
      <div id="fb-root"></div>
      <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&appId=1526803970879251&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
      <div class="fb-like-box" data-href="https://www.facebook.com/pages/EstudioFoz/413546938800464" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" width="300" style="padding-top:50px;padding-bottom:50px;"></div>
    </div>
  </div>
</div>
