<br><br><br>
<footer id="footer">
<div class="container">
    <br>
    <p>
        <a href="https://www.instagram.com/estudiofoz/">
            <i class="fab fa-instagram pull-right" style="height:31px;width:auto;padding-right:10px;color:white;"></i>
        </a>
        <a href="https://www.facebook.com/pages/EstudioFoz/413546938800464">
            <i class="fab fa-facebook-square pull-right" style="height:30px;width:auto;padding-right:10px;color:white;"></i>
        </a>
        Copyright &copy; Estudio Foz 2018 | <a href="/politica-de-privacidade/" style="color: white">Política de Privacidade</a>
    </p>
</div>
<!-- /.container -->
</footer>
