<br><br><br>
<footer id="footer">
<div class="container">
    <br>
    <p>
        <a href="/feed.xml">
            <img class="pull-right" src="/images/icons/rss.png" style="height:30px;width:auto;margin-top:0px;padding-top:0px;">
        </a>
        <a href="https://www.facebook.com/pages/EstudioFoz/413546938800464">
            <img class="pull-right" src="/images/icons/facebook.png" style="height:30px;width:auto;padding-right:10px;">
        </a>
        Copyright &copy; Estudio Foz 2018
    </p>
</div>
<!-- /.container -->
</footer>
