<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    

    <div class="page-content">
      <div class="wrap">
        {% include header.html %}
        
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 4000 //changes the speed
    })
    </script>
  </body>

</html>
