<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


        {% include header.html %}

        {{ content }}

        {% include footer.html %}

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
    $('.carousel').carousel({
        interval: 2500 //changes the speed
    })

    $(document).ready(function() {

        var docHeight = $(window).height();
        var footerHeight = $('#footer').height();
        var footerTop = $('#footer').position().top + footerHeight;

        if (footerTop < docHeight) {
            $('#footer').css('margin-top', (docHeight - footerTop) + 'px');
        }
    });
    </script>
  </body>

</html>
